<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-md-10">
      <h2><%= t('devise.registrations.welcome') %></h2>
      <p><%= t('devise.registrations.signed_up_but_unconfirmed') %></p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
