# default: &default
#   adapter: postgresql
#   encoding: unicode
#   pool: 5

# development:
#   <<: *default
#   database: rewardners_development

# test:
#   <<: *default
#   database: rewardners_test
