<div class="alert alert-info" role="alert">
  <strong><%=t('titles.transaction_complete')%></strong> Id: <%=@payment.transaction_id%> <a href="<%= payments_path %>" class="alert-link"><%=t('titles.payments')%></a>
</div>
